In [ ]:
import pandas as pd
import numpy as np

data = {
    "Applicant_ID": [1,2,3,4,5,6,7,8,9,10],
    "Age": [25,35,np.nan,45,23,39,30,50,28,np.nan],
    "Income": [40000,60000,50000,80000,np.nan,72000,54000,90000,58000,61000],
    "Credit_Score": [700,650,np.nan,720,690,710,680,730,np.nan,740],
    "Loan_Amount": [200000,250000,180000,300000,150000,280000,210000,320000,230000,270000],
    "Gender": ['Male','Female','Male','Female','Male','Female','Male','Female','Male','Female'],
    "Loan_Purpose": ['Home','Car','Home','Car','Education','Car','Home','Car','Education','Home']
}

df = pd.DataFrame(data)

df["Age"] = df["Age"].fillna(df["Age"].mean())
df["Income"] = df["Income"].fillna(df["Income"].mean())
df["Credit_Score"] = df["Credit_Score"].fillna(df["Credit_Score"].mean())

df["Gender"] = df["Gender"].map({"Male":0, "Female":1})
df["Loan_Purpose"] = df["Loan_Purpose"].map({"Home":0, "Car":1, "Education":2})

df["Income"] = (df["Income"] - df["Income"].mean()) / df["Income"].std()
df["Loan_Amount"] = (df["Loan_Amount"] - df["Loan_Amount"].mean()) / df["Loan_Amount"].std()

print(df)

   Applicant_ID     Age        Income  Credit_Score  Loan_Amount  Gender  \
0             1  25.000 -1.561296e+00         700.0    -0.713494       0
1             2  35.000 -1.904019e-01         650.0     0.201242       1
2             3  34.375 -8.758489e-01         702.5    -1.079389       0
3             4  45.000  1.180492e+00         720.0     1.115978       1
4             5  23.000  4.987283e-16         690.0    -1.628230       0
5             6  39.000  6.321345e-01         710.0     0.750084       1
6             7  30.000 -6.016701e-01         680.0    -0.530547       0
7             8  50.000  1.865939e+00         730.0     1.481873       1
8             9  28.000 -3.274913e-01         702.5    -0.164653       0
9            10  34.375 -1.218572e-01         740.0     0.567136       1

   Loan_Purpose
0             0
1             1
2             0
3             1
4             2
5             1
6             0
7             1
8             2
9             0